---
import { buildUrl } from '@utils/misc'
import type { CollectionEntry } from 'astro:content'

/**
 * @name SeoBasic
 * Component used to build out all the basic seo related head elements.
 *
 * @return {Function} an Astro component factory function.
 *
 * @example
 * <SeoBasic title={article.data.title} description={article.data.description} />
 */
interface Props {
  site: CollectionEntry<'site'>
  title: string
  description: string
  path?: string
}

const { title, description, path = '', site } = Astro.props
---

<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={buildUrl(path, site.data.origin)} />
