---
import Layout from "@layouts/Layout.astro"
import { getCollection } from "astro:content"
import slugify from "@sindresorhus/slugify"
import BreadcrumbHeader from "@components/BreadcrumbHeader.astro"
import { getArticlesByAuthor } from "@utils/article"
import DisplayLimitAlert from "@components/DisplayLimitAlert.astro"
import type { CollectionEntry } from "astro:content"
import InternalBackLink from "@components/InternalBackLink.astro"
import ArticleGrid from "@components/ArticleGrid.astro"
import { getSite } from "@utils/site"
import SocialBar from "@components/SocialBar.astro"
import { Image } from "astro:assets"

interface Props {
  entry: CollectionEntry<"author">
}

export async function getStaticPaths() {
  const entries = await getCollection("author")

  const pages = entries.map((entry) => {
    return {
      params: { slug: slugify(entry.id) },
      props: { entry },
    }
  })

  return pages
}

const { entry } = Astro.props
const siteEntry = await getSite()
const limit = siteEntry.data.displayLimit
const author = entry.data
const { entries: articleEntries, total } = await getArticlesByAuthor(entry.id, limit)
---

<Layout title={`${author.name} | Authors`}>
  <BreadcrumbHeader
    head={{ name: "Authors", path: "/author" }}
    tail={author.name}
    class:list={["mb-4"]}
  />
  <header class:list={["flex items-start"]}>
    <div
      class:list={[
        "mb-2 mr-4",
        "w-[150px] min-w-[150px] overflow-hidden rounded-lg ring-2 ring-secondary-light",
      ]}
    >
      <Image
        src={author.avatar}
        alt={author.name}
        loading={"eager"}
        fetchpriority={"high"}
        width={150}
        class:list={["aspect-[3/4] object-cover object-center"]}
      />
    </div>
    <div class:list={["flex flex-col"]}>
      <h3 class:list={["text-3xl leading-snug", "md:text-5xl"]}>{author.name}</h3>
      <p class:list={["text-md grow leading-tight", "xl:text-lg"]}>{author.bio}</p>
      <SocialBar socials={author.socials} />
    </div>
  </header>
  <ArticleGrid articles={articleEntries} class:list={["mt-4"]} />
  <DisplayLimitAlert displayed={articleEntries.length} total={total} class:list={["mt-4"]} />
  <InternalBackLink class:list={["mt-4"]} name={"authors"} path={"/author"} />
</Layout>
