---
/**
 * @name ArticleTitle
 * Component used for rendering the title and description for an article.
 *
 * @param {Props} props - The properties.
 * @return {Function} an Astro component factory function.
 *
 * @example
 * <ArticleTitle title={title} description={description} />
 */
interface Props {
  title: string
  description: string
  class?: string
}

const { title, description, class: className } = Astro.props
---

<hgroup id="article-title" class:list={[className]}>
  <h2 class:list={['text-5xl leading-snug text-stone-900 dark:text-stone-100']}>{title}</h2>
  <h3 class:list={['text-lg leading-tight text-stone-700 dark:text-stone-300']}>{description}</h3>
</hgroup>
