---
/**
 * @name ArticleImage
 * Component used for rendering the featured image for an article
 *
 * @param {Props} props - The properties of the featured image.
 * @return {Function} an Astro component factory function.
 *
 * @example
 * <ArticleImage featured={featured} />
 */
import type { ImageMetadata } from "astro";
import ExternalLink from "./ExternalLink.astro";
import { Image } from "astro:assets";

interface Props {
  featured: {
    image: ImageMetadata;
    author?: {
      name: string;
      url: string;
    };
    site?: {
      name: string;
      url: string;
    };
  };
  class?: string;
}
const {
  featured: { image, author, site },
  class: className,
} = Astro.props;
const alt = author != null ? author.name : "unknown";
---

<section id="article-featured" class:list={[className]}>
  <figure>
    <div class:list={["overflow-hidden rounded-md"]}>
      <Image
        class:list={["aspect-video object-cover object-center"]}
        src={image}
        alt={alt}
        loading="eager"
        fetchpriority="high"
        sizes={`
          (min-width: 1280px) 1280px, 
          (min-width: 1024px) 1024px,
          (min-width: 768px) 768px,
          640px
        `}
        widths={[640, 768, 1024, 1280]}
      />
    </div>
    {
      author != null && site != null ? (
        <figcaption>
          <small class:list={["mt-1 text-sm text-primary-dark/85"]}>
            {author != null ? (
              <>
                {"Image by "}
                <ExternalLink class:list={["underline"]} to={author.url}>
                  {author.name}
                </ExternalLink>
              </>
            ) : null}
            {site != null ? (
              <>
                {" on "}
                <ExternalLink class:list={["underline"]} to={site.url}>
                  {site.name}
                </ExternalLink>
              </>
            ) : null}
          </small>
        </figcaption>
      ) : null
    }
  </figure>
</section>
