---
import { Icon } from 'astro-icon/components'

import LinkExternal from './LinkExternal.astro'

interface License {
  name: string
  url: string
  short?: string
  icon?: string
}

interface Props {
  license?: License
  class?: string
}

const { license: providedLicense, class: className } = Astro.props

const defaultLicense: License = {
  name: 'Creative Commons Attribution-ShareAlike 4.0 International',
  short: 'CC BY-SA 4.0',
  url: 'https://creativecommons.org/licenses/by-sa/4.0/',
  icon: 'mdi:creative-commons',
}

const license = providedLicense ?? defaultLicense
const licenseLabel = license.short ?? license.name
---

<div
  class:list={[
    'border-border-main rounded-md border',
    'px-3 py-2',
    'text-fg-light flex items-center gap-3',
    className,
  ]}
>
  {
    license.icon && (
      <>
        <div class="flex h-10 w-8 items-center justify-center">
          <Icon
            name={license.icon}
            class="h-5 w-5"
            title={licenseLabel}
            aria-label={licenseLabel}
          />
        </div>
        <div class="bg-border-light h-10 w-px" aria-hidden="true" />
      </>
    )
  }
  <div class="text-sm">
    {'This article is licensed under '}
    <LinkExternal to={license.url} title={licenseLabel} class:list={['text-fg-dark underline']}>
      {license.name}
    </LinkExternal>{'.'}
  </div>
</div>
