---
/**
 * @name ArticleCardLead
 * Component used for rendering the lead article card.
 *
 * @param {Props} props - The properties of the article.
 * @return {Function} an Astro component factory function.
 *
 * @example
 * <ArticleCardLead article={entry} />
 */
import LinkInternal from '@components/LinkInternal.astro'
import ResponsiveImage from '@components/ResponsiveImage.astro'
import { formatDate } from '@utils/misc'
import type { CollectionEntry } from 'astro:content'
import { render } from 'astro:content'

interface Props {
  article: CollectionEntry<'article'>
  class?: string
}

const { article, class: className } = Astro.props
const { remarkPluginFrontmatter: frontmatter } = await render(article)
---

<LinkInternal to={`/article/${article.id}`}>
  <article
    id="article-card-lead"
    class:list={[
      'border-stroke-light bg-card-light overflow-hidden rounded-md border',
      'hover:bg-card-main hover:shadow-xs',
      'focus:bg-card-main focus:shadow-xs',
      'lg:bg-card-light lg:relative',
      className,
    ]}
  >
    <ResponsiveImage
      image={article.data.featured.image}
      alt={article.data.title}
      class:list={['aspect-ultrawide w-full object-cover object-center']}
      width={1280}
      widths={[420, 640, 768, 1024, 1280]}
      sizes={`
        (min-width: 1280px) 1280px,
        (min-width: 1024px) 1024px,
        (min-width: 768px) 768px,
        (min-width: 640px) 640px,
        420px
      `}
      loading={'eager'}
      fetchpriority={'high'}
    />
    <div
      class:list={[
        'bg-card-light w-full lg:bg-transparent',
        'lg:absolute lg:top-0 lg:left-0 lg:h-full',
        'lg:from-primary-main/75 lg:via-primary-main/60 lg:bg-linear-to-r lg:to-transparent',
      ]}
    >
      <div class:list={['w-full px-4 pt-3 pb-2', 'lg:p-8', 'lg:w-3/5']}>
        <h4
          class:list={[
            'text-fg-light text-lg leading-snug font-medium',
            'lg:text-primary-contrast lg:text-4xl',
            'lg:drop-shadow-lg',
          ]}
        >
          {article.data.title}
        </h4>
        <small
          class:list={[
            'text-fg-main text-sm',
            'lg:text-primary-contrast lg:text-lg',
            'lg:drop-shadow-md',
          ]}
        >
          <time datetime={article.data.published.toISOString()}>
            {formatDate(article.data.published)}
          </time>
        </small>
        <p
          class:list={[
            'text-md text-fg-dark mt-2 leading-relaxed',
            'lg:text-primary-contrast lg:mt-6 lg:text-lg',
            'lg:mt-8',
            'lg:drop-shadow-md',
          ]}
        >
          {frontmatter.excerpt}&hellip;
        </p>
      </div>
    </div>
  </article>
</LinkInternal>
