---
/**
 * @name ArticleImage
 * Component used for rendering the featured image for an article
 *
 * @param {Props} props - The properties of the featured image.
 * @return {Function} an Astro component factory function.
 *
 * @example
 * <ArticleImage featured={featured} />
 */
import type { ImageMetadata } from "astro";
import ExternalLink from "./ExternalLink.astro";
import { Picture } from "astro:assets";

interface Props {
  featured: {
    image: ImageMetadata;
    author?: {
      name: string;
      url: string;
    };
    site?: {
      name: string;
      url: string;
    };
    placeholder: string;
  };
  class?: string;
}
const {
  featured: { image, author, site, placeholder },
  class: className,
} = Astro.props;
const alt = author != null ? author.name : "unknown";
console.log(placeholder);
---

<section id="article-featured" class:list={[className]}>
  <figure>
    <Picture
      class:list={["aspect-video rounded-sm"]}
      src={image}
      alt={alt}
      formats={["webp"]}
      fallbackFormat={image.format}
      loading="eager"
      fetchpriority="high"
    />
    {
      author != null && site != null ? (
        <figcaption>
          <small class:list={["mt-1 text-sm text-primary-main/85"]}>
            {author != null ? (
              <>
                {"Image by "}
                <ExternalLink class:list={["underline"]} to={author.url}>
                  {author.name}
                </ExternalLink>
              </>
            ) : null}
            {site != null ? (
              <>
                {" on "}
                <ExternalLink class:list={["underline"]} to={site.url}>
                  {site.name}
                </ExternalLink>
              </>
            ) : null}
          </small>
        </figcaption>
      ) : null
    }
  </figure>
</section>
