---
/**
 * @name ArticleCardLead
 * Component used for rendering the lead article card.
 *
 * @param {Props} props - The properties of the article.
 * @return {Function} an Astro component factory function.
 *
 * @example
 * <ArticleCardLead article={entry} />
 */
import LinkInternal from '@components/LinkInternal.astro'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

interface Props {
  article: CollectionEntry<'article'>
  class?: string
}

const { article, class: className } = Astro.props
const { remarkPluginFrontmatter: frontmatter } = await article.render()
---

<LinkInternal to={`/article/${article.slug}`}>
  <article
    class:list={[
      'relative overflow-hidden rounded-md border border-stone-300 bg-white',
      'focus:shadown-sm hover:shadow-sm',
      className,
    ]}
  >
    <Image
      src={article.data.featured.image}
      alt={article.data.title}
      class:list={['aspect-ultrawide w-full object-cover object-center']}
      width={1280}
      widths={[420, 640, 768, 1024, 1280]}
      sizes={`
        (min-width: 1280px) 1280px,
        (min-width: 1024px) 1024px,
        (min-width: 768px) 768px,
        (min-width: 640px) 640px,
        420px
      `}
      loading={'eager'}
    />
    <div class:list={['left-0 top-0 h-full w-full', 'lg:absolute lg:bg-primary-main/40']}>
      <div class:list={['w-full px-4 pb-2 pt-3', 'lg:p-8', 'lg:w-3/5']}>
        <h4
          class:list={[
            'text-lg font-medium leading-snug text-stone-900',
            'lg:text-5xl lg:text-primary-contrast/80',
          ]}
        >
          {article.data.title}
        </h4>
        <small class:list={['text-sm text-stone-600', 'lg:text-lg lg:text-primary-contrast/80']}>
          <time datetime={article.data.published.toISOString()}>
            {
              article.data.published.toLocaleDateString('en-us', {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
              })
            }
          </time>
        </small>
        <p
          class:list={[
            'text-md mt-2 leading-relaxed text-stone-700',
            'lg:mt-6 lg:text-lg lg:text-primary-contrast',
            'lg:mt-8',
          ]}
        >
          {frontmatter.excerpt}&hellip;
        </p>
      </div>
    </div>
  </article>
</LinkInternal>
