---
/**
 * @name ArticleCardLead
 * Component used for rendering the lead article card.
 *
 * @param {Props} props - The properties of the article.
 * @return {Function} an Astro component factory function.
 *
 * @example
 * <ArticleCardLead article={entry} />
 */
import LinkInternal from '@components/LinkInternal.astro'
import { formatDate } from '@utils/misc'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import { render } from 'astro:content'

interface Props {
  article: CollectionEntry<'article'>
  class?: string
}

const { article, class: className } = Astro.props
const { remarkPluginFrontmatter: frontmatter } = await render(article)
---

<LinkInternal to={`/article/${article.id}`}>
  <article
    id="article-card-lead"
    class:list={[
      'relative overflow-hidden rounded-md border border-stone-300 bg-white',
      'focus:shadown-sm hover:shadow-xs',
      className,
    ]}
  >
    <Image
      src={article.data.featured.image}
      alt={article.data.title}
      class:list={['aspect-ultrawide w-full object-cover object-center']}
      width={1280}
      widths={[420, 640, 768, 1024, 1280]}
      sizes={`
        (min-width: 1280px) 1280px,
        (min-width: 1024px) 1024px,
        (min-width: 768px) 768px,
        (min-width: 640px) 640px,
        420px
      `}
      loading={'eager'}
    />
    <div class:list={['top-0 left-0 h-full w-full', 'lg:bg-primary-main/40 lg:absolute']}>
      <div class:list={['w-full px-4 pt-3 pb-2', 'lg:p-8', 'lg:w-3/5']}>
        <h4
          class:list={[
            'text-lg leading-snug font-medium text-stone-900',
            'lg:text-primary-contrast/80 lg:text-5xl',
          ]}
        >
          {article.data.title}
        </h4>
        <small class:list={['text-sm text-stone-600', 'lg:text-primary-contrast/80 lg:text-lg']}>
          <time datetime={article.data.published.toISOString()}>
            {formatDate(article.data.published)}
          </time>
        </small>
        <p
          class:list={[
            'text-md mt-2 leading-relaxed text-stone-700',
            'lg:text-primary-contrast lg:mt-6 lg:text-lg',
            'lg:mt-8',
          ]}
        >
          {frontmatter.excerpt}&hellip;
        </p>
      </div>
    </div>
  </article>
</LinkInternal>
