---
/**
 * @name ArticleCard
 * Component used for rendering the cards for articles.
 *
 * @param {Props} props - The properties of the article.
 * @return {Function} an Astro component factory function.
 *
 * @example
 * <ArticleCard article={entry} />
 */
import LinkInternal from '@components/LinkInternal.astro'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

interface Props {
  article: CollectionEntry<'article'>
  lazy?: boolean
  class?: string
}

const { article, lazy, class: className } = Astro.props
const { remarkPluginFrontmatter: frontmatter } = await article.render()
const loading = lazy ? 'lazy' : 'eager'
---

<LinkInternal to={`/article/${article.slug}`}>
  <article
    class:list={[
      'overflow-hidden rounded-md border border-stone-300 bg-white',
      'xl:flex xl:max-h-60 xl:flex-row-reverse',
      'hover:bg-stone-100/85 hover:shadow-sm',
      'focus:bg-stone-100/85 focus:shadow-sm',
      className,
    ]}
  >
    <Image
      src={article.data.featured.image}
      alt={article.data.title}
      width={768}
      widths={[180, 420, 500, 640, 768]}
      sizes={`
        (min-width: 1280px) 180px,
        (min-width: 1024px) 500px,
        (min-width: 768px) 768px,
        (min-width: 640px) 640px,
        420px
      `}
      loading={loading}
      class:list={[
        'aspect-video w-full object-cover object-center',
        'xs:w-[420px] sm:w-[640px]',
        'md:aspect-[21/9] md:w-[768px]',
        'lg:w-[500px]',
        'xl:aspect-[3/4] xl:w-[180px]',
      ]}
    />
    <div class:list={['px-4 pb-2 pt-3']}>
      <h4 class:list={['text-lg font-medium leading-snug text-stone-900']}>
        {article.data.title}
      </h4>
      <small class:list={['text-sm text-stone-600']}>
        <time datetime={article.data.published.toISOString()}>
          {
            article.data.published.toLocaleDateString('en-us', {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
            })
          }
        </time>
      </small>
      <p class:list={['text-md mt-2 leading-relaxed text-stone-700']}>
        {frontmatter.excerpt}&hellip;
      </p>
    </div>
  </article>
</LinkInternal>
