---
/**
 * @name ArticlePopular
 * Component for showing the articles we consider popular.
 *
 * @param {Props} props - The properties.
 * @return {Function} an Astro component factory function.
 *
 * @example
 * <ArticleRelated article={article}  />
 */
import LinkInternal from '@components/LinkInternal.astro'
import { getPopularArticles } from '@utils/article'

interface Props {
  class?: string
}

const { class: className } = Astro.props
const popular = await getPopularArticles(4)
---

{
  popular.length == 0 ? null : (
    <aside class:list={['min-w-72 p-2', className]} aria-labelledby="related-articles">
      <h4
        id="related-articles"
        class:list={[
          'block border-b-[1px] border-stone-500 pb-1',
          'text-md font-bold leading-relaxed',
        ]}
      >
        Popular
      </h4>
      <ol>
        {popular.map((article) => (
          <li>
            <article class:list={['text-md']}>
              <LinkInternal to={`/article/${article.slug}`} class:list={['hover:underline']}>
                <h5 class:list={['text-md my-2 block']}>{article.data.title}</h5>
              </LinkInternal>
            </article>
          </li>
        ))}
      </ol>
    </aside>
  )
}
