---
/**
 * @name ArticleCardLead
 * Component used for rendering the lead article card.
 *
 * @param {Props} props - The properties of the article.
 * @return {Function} an Astro component factory function.
 *
 * @example
 * <ArticleCardLead article={entry} />
 */
import { Image } from "astro:assets"
import type { CollectionEntry } from "astro:content"
import LinkInternal from "@components/LinkInternal.astro"

interface Props {
  article: CollectionEntry<"article">
  class?: string
}

const { article, class: className } = Astro.props
const { remarkPluginFrontmatter: frontmatter } = await article.render()
---

<LinkInternal to={`/article/${article.slug}`}>
  <div
    class:list={[
      "relative overflow-hidden rounded-md border border-gray-300 bg-white",
      "focus:shadown-sm hover:shadow-sm",
      className,
    ]}
  >
    <Image
      src={article.data.featured.image}
      alt={article.data.title}
      class:list={["aspect-square object-cover object-center sm:aspect-video md:aspect-[21/9]"]}
      widths={[640, 768, 1024, 1280]}
      sizes={`
        (min-width: 1280px) 1280px,
        (min-width: 1024px) 1024px,
        (min-width: 768px) 768px,
        640px
      `}
      loading={"eager"}
    />
    <div
      class:list={[
        "absolute left-0 top-0 h-full w-full",
        "bg-primary-main/40 text-primary-contrast backdrop-blur-sm",
      ]}
    >
      <div class:list={["w-full p-3 text-primary-contrast/75", "md:p-8 lg:w-3/5"]}>
        <h4 class:list={["text-2xl leading-snug", "md:text-5xl"]}>
          {article.data.title}
        </h4>
        <small class:list={["block leading-snug", "md:text-lg"]}>
          <time datetime={article.data.published.toISOString()}>
            {
              article.data.published.toLocaleDateString("en-us", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })
            }
          </time>
        </small>
        <p class:list={["mt-4 text-lg leading-relaxed", "md:mt-6 lg:mt-8"]}>
          {frontmatter.excerpt}&hellip;
        </p>
        <small class:list={["mt-2 block text-xs", "md:mt-6 md:text-sm lg:mt-8"]}>
          {"Continue Reading"}&hellip;
        </small>
      </div>
    </div>
  </div>
</LinkInternal>
