---
/**
 * @name FeedTitle
 * Component used for rendering the title and description block for a feed item.
 *
 * @param {Props} props - The properties.
 * @return {Function} an Astro component factory function.
 *
 * @example
 * <FeedTitle title={title} description={description} />
 */
interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<h2 id="feed-title">{title}</h2>
<p>{description}</p>
