---
/**
 * @name PageFooter
 * The component used to render the page footer.

 * @param {Props} props - The properties of the page footer.
 * @return {Function} an Astro component factory function.
 *
 * @example
 * <PageFooter />
 */
import LinkExternal from "@components/LinkExternal.astro"
import { Icon } from "astro-icon/components"
import type { CollectionEntry } from "astro:content"

interface Props {
  site: CollectionEntry<"site">
  class?: string
}

const { site: entry, class: className } = Astro.props
const site = entry.data
const year = new Date().getFullYear()
---

<footer class:list={["container mx-auto grid-rows-3 p-4 xl:max-w-screen-xl", className]}>
  <div>
    <ol class:list={["flex items-center gap-1"]}>
      <li>
        <LinkExternal
          to="/rss.xml"
          title={`${site.title} - RSS`}
          class:list={["block rounded-full p-2", "hover:bg-gray-100 focus:bg-gray-300"]}
        >
          <Icon
            name="mdi:rss-feed"
            title={`${site.title} - RSS`}
            class:list={["h-6 w-6 text-primary-main"]}
          />
        </LinkExternal>
      </li>
      <li>
        <LinkExternal
          to={site.repository}
          title={`${site.title} - Repository`}
          class:list={["block rounded-full p-2", "hover:bg-gray-100 focus:bg-gray-300"]}
        >
          <Icon
            name="mdi:github"
            title={`${site.title} - Repository`}
            class:list={["h-6 w-6 text-primary-main"]}
          />
        </LinkExternal>
      </li>
    </ol>
  </div>
  <div class:list={["text-center text-xs"]}>&copy; {year} {site.title}</div>
  <div></div>
</footer>
