---
/**
 * Component used to render the page header.
 *
 * @param {Props} props - The properties of the page footer.
 * @return {Function} an Astro component factory function.
 *
 * @example
 * <PageHeader />
 */
import { Picture } from "astro:assets";
import { getEntry } from "astro:content";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
const siteId = import.meta.env.SITE_ID;
const entry = await getEntry("site", siteId);
const site = entry.data;
---

<header
  class:list={[
    className,
    "sticky left-0 top-0 bg-primary-dark px-4 py-4 text-primary-contrast shadow-sm",
  ]}
>
  <div class:list={["container mx-auto px-4"]}>
    <a href="/" class:list={["flex justify-start bg-transparent text-inherit"]}>
      <div
        class:list={[
          "mb-2 mr-4 aspect-square h-12 min-h-12 w-12 min-w-12 overflow-hidden rounded-lg ring-1 ring-secondary-light sm:mb-0 md:h-20 md:w-20",
        ]}
      >
        <Picture
          src={site.avatar}
          alt={site.title}
          formats={["webp"]}
          fallbackFormat={site.avatar.format}
          loading="eager"
          fetchpriority="high"
        />
      </div>
      <div class:list={["flex flex-col justify-center"]}>
        <h1 class:list={["mb-2 text-base xs:text-3xl sm:text-4xl"]}>{site.title}</h1>
        <p class:list={["hidden text-base sm:block"]}>
          {site.tagline}
        </p>
      </div>
    </a>
  </div>
</header>
