---
/**
 * @name Pagination
 * Component used for creating current page and navigation for a paged list.
 *
 * @param {Props} props - The properties of the page.
 * @return {Function} an Astro component factory function.
 *
 * @example
 * <Pagination page={page} />
 */
import PaginationLink from '@components/PaginationLink.astro'
import type { Page } from 'astro'

interface Props {
  page: Page
  class?: string
}

const { page, class: className } = Astro.props
---

<nav class:list={[className]}>
  <ol class:list={['flex items-center justify-center gap-x-1']}>
    <li>
      <PaginationLink link={page.url.first} icon="mdi:chevron-double-left" title="First" />
    </li>
    <li>
      <PaginationLink link={page.url.prev} icon="mdi:chevron-left" title="Previous" />
    </li>
    <li>
      <div class:list={['text-md bg-inherit px-10 text-primary-dark']}>
        {`Page ${page.currentPage} of ${page.lastPage}`}
      </div>
    </li>
    <li>
      <PaginationLink link={page.url.next} icon="mdi:chevron-right" title="Next" />
    </li>
    <li>
      <PaginationLink link={page.url.last} icon="mdi:chevron-double-right" title="Last" />
    </li>
  </ol>
</nav>
