---
/**
 * @name SEOBase
 * Base component for setting up SEO. Other components build off this one.
 *
 * @return {Function} an Astro component factory function.
 *
 * @example
 * <SEOBase type={"website"} title={"Articles"} ... />
 */

interface Props {
  type: string
  title: string
  description: string
  path: string
  lang: string
  creatorTwitterName?: string
  siteTitle: string
  siteTwitterName?: string
}

const baseUrl = import.meta.env.SITE
const { type, title, description, path, lang, siteTitle, siteTwitterName, creatorTwitterName } =
  Astro.props
---

<title>{title}</title>
<link rel="canonical" href={`${baseUrl}${path}`} />
<meta property="og:type" content={type} />
<meta property="og:url" content={`${baseUrl}${path}`} />
<meta property="og:title" content={siteTitle} />
<meta property="og:description" name="description" content={description} />
<meta property="og:site_name" content={title} />
<meta property="og:locale" content={lang} />
<!-- TODO images
<meta property="og:image" content={seo.image} />
<meta property="og:image:alt" content={seo.imageAlt} />
 -->
{
  siteTwitterName != null && creatorTwitterName != null ? (
    <>
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content={siteTwitterName} />
      <meta name="twitter:creator" content={creatorTwitterName} />
    </>
  ) : null
}
<slot />
