---
import Layout from "@layouts/Layout.astro";
import slugify from "@sindresorhus/slugify";
import BreadcrumbHeader from "@components/BreadcrumbHeader.astro";
import { getTags, getArticlesByTag } from "src/utils";
import DisplayLimitAlert from "@components/DisplayLimitAlert.astro";
import InternalBackLink from "@components/InternalBackLink.astro";
import InternalLink from "@components/InternalLink.astro";

interface Props {
  tag: string;
}

export async function getStaticPaths() {
  const pages = (await getTags()).map((tag) => {
    return {
      params: { slug: slugify(tag) },
      props: { tag: tag },
    };
  });

  return pages;
}

const { tag } = Astro.props;
const limit = import.meta.env.ARTICLE_DISPLAY_LIMIT;
const entries = await getArticlesByTag(tag, limit);
---

<Layout title={`${tag} | Tags`}>
  <BreadcrumbHeader head={{ name: "Tags", path: "/tag" }} tail={tag} class:list={["mb-4"]} />
  <ol>
    {
      entries.map((entry) => (
        <li>
          <InternalLink to={`/article/${entry.slug}`}>{entry.data.title}</InternalLink>
        </li>
      ))
    }
  </ol>
  <DisplayLimitAlert total={entries.length} limit={limit} class:list={["mt-4"]} />
  <InternalBackLink class:list={["mt-4"]} name={"tags"} path={"/tag"} />
</Layout>
